<h1>Listing locations</h1>

<%= render 'new_form' %>

<table>
  <thead>
    <tr>
      <th>URN</th>
      <th>Name</th>
      <th>Non-mobile Number</th>
      <th>Mobile Number</th>
      <th>PPC Number</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>

    <% @locations.each do |location| %>
      <%= render 'edit_form', location: location %>
    <% end %>

  </tbody>
</table>

<%= link_to 'New Location', new_location_path %>
